@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato&display=swap');

#lobby-frame{
    position : fixed;
    top: 0px;
    left: 0px;
    margin : none;
    padding: 0px;
    height : 100%;
    width : 100%;
    background-color:rgb(60,60,80)
}

#lobby-background{
    position : fixed;
    left: 50%;
    top : 58%;
    height: 300px;
    transform: translate(-50%,-50%);
    min-width : 200px;
    width: 65%;
    max-width: 400px;
    background-color: rgba(230,230,235,0.1);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding : 20px;
}

#lobby-title{
    font-family: "Comfortaa";
    font-size: 40px;
    margin: 10px 30px 0px;
    text-align: center;
    position : static;
    width: calc(100% - 60px);
    color:rgb(230,230,235);
}

#lobby-gamemode{
    padding: 10px 20px;
    font-family: 'Comfortaa';
    font-size:25px;
    margin: 0;
    width: calc(50% - 40px);
    position: fixed;
    color: rgb(230,230,240);
}

#lobby-player-list-label{
    padding: 10px 20px 10px calc(50% + 20px);
    margin: 0;
    font-size:25px;
    text-align: center;
    font-family: "Comfortaa";
    color: rgb(230,230,240);
}

#lobby-player-list{
    height: calc(100% - 102px);
    margin: 0;
    padding: 0px 0px 0px 50%;
    width: 50%;
    list-style: "- ";
    list-style-position: inside;
}

.lobby-players{
    color: rgb(230,230,240);
    font-family: "Comfortaa";
}

.lobby-player-kick-buttons{
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(230,230,240);
    color: rgb(230,230,240);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.lobby-player-team-buttons{
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(230,230,240);
    color: rgb(230,230,240);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}
