@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato&display=swap');

:focus{
    outline : none
}

#login-frame{
    position : fixed;
    top: 0px;
    left: 0px;
    margin : none;
    padding: 0px;
    height : 100%;
    width : 100%;
    background-color:rgb(60,60,80)
}

#login-background{
    position : fixed;
    left: 50%;
    top : 58%;
    height: 300px;
    transform: translate(-50%,-50%);
    min-width : 200px;
    width: 65%;
    max-width: 400px;
    background-color: rgba(230,230,235,0.1);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding : 20px;
}

#login-title{
    font-family: "Comfortaa";
    font-size: 40px;
    margin: 10px 30px 0px;
    text-align: center;
    position : fixed;
    width: calc(100% - 60px);
    top: calc(calc(100% - 300px) / 4);
    transform: translateY(-50%);
    color:rgb(230,230,235);
}

#login-label{
    font-family: "Comfortaa";
    font-size : 30px;
    padding: 0px;
    margin: 0px;
    color : rgb(230,230,240);
    display: block;
    text-align : center;
    position: relative;
    top: 55px;    
}

#login-pseudo-input{
    background-color: rgba(0,0,0,0);
    color : rgb(230,230,240);
    border-bottom: 2px solid rgb(230,230,240);
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: "Comfortaa";
    font-size: 30px;
    width : 100%;
    max-width: 250px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#login-submit-fullscreen{
    background-color: rgba(0,0,0,0);
    border : 2px solid rgb(230,230,240);
    font-family : "Comfortaa";
    height : 50px;
    width : 200px;
    position: absolute;
    top: 200px;
    color: rgb(230,230,240);
    font-size: 24px;
    left: calc(calc(100% - 200px) / 2);
}

#login-submit-normal{
    background-color: rgba(0,0,0,0);
    position: absolute;
    top : 255px;
    margin: 0px;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
    border: 0px;
    font-family: "Comfortaa";
    font-size: 14px;
    color: rgb(230,230,240);
}

@media screen and (max-height : 500px){
    #login-title{
        display: none;
    }
    #login-background{
        height : 250px;
        top : 50%;
    }
    #login-label{
        top: 35px;
    }
    #login-submit-fullscreen{
        top: 180px;
    }
    #login-submit-normal{
        top: 235px;
    }
}
