@font-face {
    font-family: "Yusei";
    src: url("/fonts/yusei") format("truetype");
   }

#login-frame{
    position : fixed;
    top: 0px;
    left: 0px;
    margin : none;
    padding: 0px;
    height : 100%;
    width : 100%;
}

#login-background{
    position : fixed;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height : 300px;
    width : 270px;
    min-width: 50%;
    background-color: rgba(230,230,230,0.1);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding : 10px;
}

#login-title{
    font-family: "Yusei";
    font-size: 25px;
    text-align: center;
    color:rgb(30,30,30);
}