@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato&display=swap');

:focus{
    outline : none
}

#load-font{
    color : rgba(0,0,0,0);
    font-family : "Comfortaa"
}

#disconnected-frame{
    position : fixed;
    top: 0px;
    left: 0px;
    margin : none;
    padding: 0px;
    height : 100%;
    width : 100%;
    background-color:rgb(60,60,80)
}

#disconnected-title{
    font-size: 120px;
    margin: 0px 30px;
    text-align: center;
    position : fixed;
    width: calc(100% - 60px);
    top : 50%;
    transform: translateY(-50%);
    color:rgb(230,230,240);
}
