@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato&display=swap');

:focus{
    outline : none
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#load-font{
    color : rgba(0,0,0,0);
    font-family : "Comfortaa"
}

#disconnected-frame{
    z-index: 15;
    position : fixed;
    top: 0px;
    left: 0px;
    margin : none;
    padding: 0px;
    height : 100%;
    width : 100%;
    background-color:rgb(60,60,80)
}

#disconnected-title{
    z-index: 16;
    font-size: 120px;
    margin: 0px 30px;
    text-align: center;
    position : fixed;
    width: calc(100% - 60px);
    top : 50%;
    transform: translateY(-50%);
    color:rgb(230,230,240);
}

#landscape-frame{
    z-index : 5;
    position : fixed;
    top: 0px;
    left: 0px;
    margin : none;
    padding: 0px;
    height : 100%;
    width : 100%;
    background-color:rgb(60,60,80)
}

#landscape-title{
    z-index: 6;
    font-family : "Comfortaa";
    font-size: 60px;
    margin: 0px 30px;
    text-align: center;
    position : fixed;
    width: calc(100% - 60px);
    top : 50%;
    transform: translateY(-50%);
    color:rgb(230,230,240);
}
